[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-postgres = "*"
pandas = "*"
sqlalchemy = "*"
loguru = "*"
pyarrow = "*"

[dev-packages]
black = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.13"
